/* mobile-first */
body { font-family: 'AvenirLtStdLight', Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

/* fluid typography */
h1 { font-size: 4rem; letter-spacing: 1px; }
h2 { font-size: clamp(3rem, 0.8333rem + 6.0185vw, 6.25rem); }   /* 3rem | 6.25rem */
h3 { font-size: clamp(2.5rem, 0.5rem + 5.5556vw, 5.5rem); }     /* 2.5rem | 5.5rem */
h4 { font-size: clamp(2rem, 0.208rem + 4.9778vw, 4.688rem); }   /* 2rem | 4.688rem */
h5 { font-size: clamp(1.8rem, 1.3333rem + 1.2963vw, 2.5rem); }  /* 1.8rem | 2.5rem */
h6 { font-size: 1.563rem; }

p { font-size: 1.563rem; line-height: 1.5; }   /* 1.125rem | 1.563rem > font-size: clamp(1.125rem, 0.833rem + 0.8111vw, 1.563rem); */

p:not(:last-child) { margin-bottom: 20px; }
a { color: #000; text-decoration: none; }

img {
  max-width: 100%;
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

/* base layout */
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1*var(--bs-gutter-y));
  margin-right: calc(-0.5*var(--bs-gutter-x));
  margin-left: calc(-0.5*var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)*.5);
  padding-left: calc(var(--bs-gutter-x)*.5);
  margin-top: var(--bs-gutter-y);
}

/* header desktop */
header {
  font-family: 'RajdhaniBold', Arial, sans-serif;
  width: 100%;
}

header ul {
  display: inline-flex;
}

.header-desktop {
  display: none;
  padding: 40px 0;
  border-bottom: 1px solid #000;
}

header .header-desktop nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-desktop nav .logo {
  margin-left: 0;
}

header .header-desktop nav a {
  font-size: 18px;
  line-height: 0;
  color: #BCBCBC;
  margin-left: 65px;
}

header .header-desktop nav a span {
  font-size: 13px;
  margin-right: 10px;
}

header .header-desktop nav a.active {
  color: #000;
}

/* header mobile */
.header-mobile {
  background-color: #fff;
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100%;
  top: -106.5px;
  left: 0;
  z-index: 2000;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: top 0.5s;
  overflow-y: auto;
}

.header-mobile .container {
  width: 100%;
}

.header-mobile .header-mobile-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mobile .hamburger-menu {
  display: inline-block;
  position: relative;
  z-index: 999;
  background: transparent;
  border: none;
  padding: 0 0 1px 9px;
  transform-origin: 21px;
  transition: -webkit-transform .2s;
  -webkit-transition: -webkit-transform .2s;
}

.header-mobile .hamburger-menu .icon-bar {
  display: block;
  margin-top: 4px;
  width: 22px;
  height: 3px;
  background-color: #000;
  border-radius: 1px;
  transform-origin: 21px;
  transition: -webkit-transform .2s;
  -webkit-transition: -webkit-transform .2s;
}

.header-mobile .mobile-menu {
  margin-top: 10px;
  padding: 30px 20px;
  text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
  display: none;

}

.header-mobile .mobile-menu .nav-link {
  padding: 20px 0;
}

.header-mobile.open {
  height: calc(100vh - (100vh - 100%));
}

.header-mobile.open .icon-bar:nth-child(2) { transform: rotate(-45deg); }
.header-mobile.open .icon-bar:nth-child(3) { opacity: 0; }
.header-mobile.open .icon-bar:nth-child(4) { transform: rotate(45deg); }

.header-mobile.open .mobile-menu {
  display: block;
}

.header-mobile.show {
  top: 0;
}

body.mobile-menu-open {
  overflow: hidden;
}

/* footer */
footer {
  width: 100%;
  padding: 6.875rem 0 4.5rem;
  border-top: 1px solid #000;
}

footer h6 {
  font-family: 'RajdhaniSemibold', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-wrapper .footer-col {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  flex: 0 0 100%;
  max-width: 100%;
}

.footer-wrapper .footer-col.footer-block {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

.footer-wrapper .footer-col.footer-block-sm {
  display: none;
}

.footer-wrapper .footer-col .social-links li {
  font-size: 1.563rem;
  margin-bottom: 13px;
}

.footer-wrapper .footer-col .social-links li:last-child {
  margin-bottom: 0;
}

.footer-wrapper .footer-col .contact-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-wrapper .footer-col .contact-details .contact {
  margin-bottom: 20px;
}

.footer-wrapper .footer-col .contact-details .contact p {
  margin-bottom: 10px;
}

.footer-wrapper .contact-details .contact a {
  font-size: 1.563rem;
}

.footer-wrapper .footer-col .social-links li img,
.footer-wrapper .contact-details .contact a img {
  margin-left: 10px;
}

/* pages */
.pages { margin-top: 4.6rem; }

/* parts */
.hero-column {
  padding: 15.625rem 0 5rem;
}

.hero-column .description {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-text {
  padding: 10.938rem 0;
  border-bottom: 1px solid #000;
}

.bottom-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-link h2 {
  margin-right: 40px;
}

.bottom-link img {
  margin-top: 30px;
}

/* home */
.home h2 {
  font-family: 'AvenirLtStdMedium', Arial, sans-serif;
  margin-bottom: 30px;
}

.home .row {
  margin-bottom: 6.25rem;
}

.home .row.featured-projects {
  margin-bottom: 0;
}

/* about */
.about h4 {
  font-family: 'AvenirLtStdMedium', Arial, sans-serif;
}

.about h4 span {
  font-family: 'AvenirLtStdLight', Arial, sans-serif;
  display: inline;
}

.about .about-me {
  padding: 80px 0;
}

.about .about-me h1 {
  margin: 50px 0 30px;
}

.about .about-me .row {
  display: flex;
  flex-direction: column-reverse;
}

.about .about-me .row .col-md-7 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.about .about-me .skillset h6 {
  font-family: 'RajdhaniSemibold', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about .about-me .skillset:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #BCBCBC;
}

.about .about-me .skillset ul {
  font-family: 'RajdhaniRegular', Arial, sans-serif;
  font-size: 1.563rem;
}

.about .about-me .skillset ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* projects */
.projects h3 {
  font-family: 'AvenirLtStdMedium', Arial, sans-serif;
}

.featured-project {
  margin-bottom: 60px;
}

.featured-project .project-details {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 30px 0 20px;
}

.featured-project .project-details small {
  font-family: 'RajdhaniMedium', Arial, sans-serif;
  color: #BCBCBC;
  margin-bottom: 15px;
}

.featured-project .project-details .project-name {
  display: flex;
  align-items: center;
}

.featured-project .project-details .project-name h6 {
  font-family: 'AvenirLtStdMedium', Arial, sans-serif;
  margin-right: 10px;
}

.featured-project .project-img {
  border-radius: 35px;
  border: 1px solid #000;
}

/* contact */
.contact h3 {
  font-family: 'AvenirLtStdMedium', Arial, sans-serif;
}

.contact h3 span {
  font-family: 'AvenirLtStdLight', Arial, sans-serif;
}

/* desktop */
@media (min-width: 576px) {
  h1 {
    font-size: clamp(3.5rem, 0.6247rem + 7.987vw, 7.813rem);
  }  /* 4.5rem | 7.813rem */

  .container { max-width: 540px; }

  .bottom-link {
    flex-direction: row;
    align-items: center;
  }

  .bottom-link img {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  h1 {
    letter-spacing: -4px;
  }

  .container { max-width: 720px; }
  .col-md-7 { flex: 0 0 auto; width: 58.33333333%; }
  .col-md-5 { flex: 0 0 auto; width: 41.66666667%; }

  .home h2 {
    margin-bottom: 0;
  }

  .home .row.featured-projects {
    margin-bottom: 6.25rem;
  }

  .featured-project {
    margin-bottom: 0;
  }

  .about .about-me h1 {
    margin: 0;
  }
  
  .about .about-me .row {
    flex-direction: row;
  }

  .footer-wrapper .footer-col { flex: 0 0 50%; max-width: 50%; }

  .footer-wrapper .footer-col .contact-details .contact {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }

  .header-desktop {
    display: block;
  }

  .header-mobile {
    display: none;
  }
  
  .pages {
    margin-top: 0;
  }

  .about .about-me {
    padding: 150px 0;
  }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }

  .hero-column h2 span {
    display: block;
  }

  .featured-project .project-details {
    flex-direction: row;
    align-items: center;
  }

  .featured-project .project-details small {
    margin-bottom: 0;
  }

  .about .about-me .skills {
    width: 80%;
  }
  
  .footer-wrapper .footer-col { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .footer-wrapper .footer-col.footer-block { display: none; }
  .footer-wrapper .footer-col.footer-block-sm { display: block; }
}

@media (min-width: 1400px) {
  .container { max-width: 1320px; }
}